/ipch/
/Debug/
/Backup/
/packages/
/_UpgradeReport_Files/
UpgradeLog.XML
form2.txt
*.aps
*.ipch
*.lib
*.idb
*.exe
*.log
*.obj
*.pch
*.pdb
*.sdf
*.suo
*.tlog
*.user
*.manifest
*.lastbuildstate
*.res

*.tif
*.jpg
*.bmp
